<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>mapLocator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0284CA7198476BA0003EF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0284CBD198494510003EF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0284CD3198496750003EF36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0447DCF19816E1700BDA029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0447DF319816E1700BDA029</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
